* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    text-align: center;
}

h1,
h2 {
    text-transform: uppercase;
    text-align: center;
    text-shadow: 2px 2px #0092ff;
    color: deepskyblue;
    font-family: sans-serif;
}

p {
    color: deepskyblue;
    font-family: sans-serif;
}

button {
    background-color: #0092ff;
    padding: 1em 4em;
    text-transform: uppercase;
    color: aliceblue;
    border: none;
    -webkit-box-shadow: 3px 3px 3px darkslategrey;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px darkslategrey;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px darkslategrey;
}

.board {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2.7em;
    padding: 0 6em 0 6em;
    width: inherit;
    justify-content: space-around;
    flex: 2;
}

.board div {
    flex-direction: row;
    margin: 1em;
    height: 8em;
    min-width: 8em;
    /*    flex: 1;*/
    flex-basis: 0;
    cursor: pointer;
    -webkit-box-shadow: 3px 3px 3px darkslategrey;
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 3px 3px 3px darkslategrey;
    /* Firefox 3.5 - 3.6 */
    box-shadow: 3px 3px 3px darkslategrey;
}

.scoreboard {
    width: 100%;
}

.mode {
    width: 16px;
    height: 8px;
    border-radius: 5%;
    border: 1px solid black;
    background-color: #32050C;
    margin: 1em auto;
}

.on {
    background-color: #DC0D29;
}

@-ms-viewport {
    width: device-width;
}